<div id="editnode-modal" class="modal">
  <div class='modal-overlay' ng-click='close("Cancel")'></div>
  <div class="modal-dialog">
    <div class="modal-dialog-content">
      <a class="button modal-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" href="#">&times;</a>

      <div class="modal-header">
        <h1 class="modal-title">Edit Custom Node</h1>
      </div>

      <div class="modal-body">
        <form id="editnode-form">
          <div class="row">
            <label>Name</label>
            <input id="name" type="text" value="{{node.prototype.name}}" placeholder="name"/>
          </div>

          <div class="row">
            <label>Title</label>
            <input id="title" type="text" value="{{node.prototype.title}}" placeholder="title"/>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <span class="left">
          <a href="#" class="button alert" ng-click="removeNode(); close('Yes')">Remove</a>
        </span>

        <a href="#" ng-click="close('No')" class="button secondary" data-dismiss="modal">Cancel</a>
        <a href="#" ng-click="saveNode(); close('Yes')" class="button" data-dismiss="modal">Save</a>
      </div>

    </div>
  </div>
</div>