html, body {
  padding     : 0px;
  margin      : 0px;
  overflow    : hidden;
  font-family : 'Open Sans', sans-serif;
  font-size   : 16px;
  font-weight : 100 !important;
  color       : #999999;
  background  : #171717;
}
.left {
  float: left;
}
.right {
  float: right;
}
.panel {
  overflow-y: auto;
  padding: 15px;
}
.wide {
  width: 100%;
}
.grabbing {
  cursor: url(assets/img/closedhand.cur);
  cursor: url(assets/img/closedhand.cur) 8 8, move;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
button, .button {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding: 2px 5px;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  padding-top: 0.375rem;
  padding-right: 1.75rem;
  padding-bottom: 0.4375rem;
  padding-left: 1.75rem;
  transition: background-color 300ms ease-out; 
}
button:hover, .button:hover {
  background-color: #007095;
}
button:hover, .button:hover {
  color: #FFFFFF;
}
button.secondary, .button.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333333;
}
button.secondary:hover, .button.secondary:hover {
  background-color: #b9b9b9;
}
button.secondary:hover, .button.secondary:hover {
  color: #333333;
}
button.success, .button.success {
  background-color: #43AC6A;
  border-color: #368a55;
  color: #FFFFFF;
}
button.success:hover, .button.success:hover {
  background-color: #368a55;
}
button.success:hover, .button.success:hover {
  color: #FFFFFF;
}
button.alert, .button.alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: #FFFFFF;
}
button.alert:hover, .button.alert:hover {
  background-color: #cf2a0e;
}
button.alert:hover, .button.alert:hover {
  color: #FFFFFF;
}




/* ================================*/
/* SCROLL                          */
/* ================================*/
/* Let's get this party started */
::-webkit-scrollbar {
    width: 3px;
}
 
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  background: #222222;
  /*-webkit-border-radius: 10px;*/
  /*border-radius: 10px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /*-webkit-border-radius: 10px;*/
  /*border-radius: 10px;*/
  background: #008CBA;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #008CBA; 
}








/* ================================*/
/* FORM                            */
/* ================================*/
form {
  text-align: left;
}
form .row {
  margin: 10px 0px 20px 0px;
}
form .row label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
}
form .row input, form .row textarea, form .row select { 
  display: block;
  width: 95%;
  color: #111;
  padding: 5px;
}





/* ================================*/
/* TOPBAR                          */
/* ================================*/
.topbar {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 35px;
  background-color: #454545;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  z-index: 100;
}

.topbar ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-table;
}
.topbar ul:after {
  content: "";
  clear: both;
  display: block;
}

.topbar ul li {
  float: left;
}
.topbar ul li:hover {
  background-color: #222;
}
.topbar ul li a {
  color: #FFFFFF;
  display: block;
  height: 35px;
  padding: 0px 10px;
  line-height: 35px;
  text-decoration: none;
}
.topbar ul li a .shortcut {
  color: #999;
  float: right;
  font-style: italic;
}
.topbar ul li .logo {
  color: #4BB2FD;
  background-color: #333333;
  font-weight: bold;
  transition: background-color 300ms ease-in; 
  transition: color 300ms ease-in; 
}
.topbar ul li .logo:hover {
  color: #454545;
  background-color: #CCCCCC;
}

.topbar ul li:hover > ul {
  display: block;
}
.topbar ul ul {
  display: none;
  background: #454545;
  position: absolute;
  top: 100%;
  min-width: 200px;
  border: 1px solid #333333;
}
.topbar .right ul ul {
  right: 0;
}
.topbar ul ul li {
  float: none;
  position: relative;
}
.topbar ul ul li a {
  height: 35px;
  padding: 0px 10px;
  line-height: 35px;
  color: #fff;
  text-align: left;
}
.topbar ul ul ul {
  position: absolute;
  top: 0;
}
.topbar .left ul ul ul { left: 100%; }
.topbar .right ul ul ul { right: 100%; }
.topbar .divider { border-top: 1px solid #555; }
/* ================================*/





/* ================================*/
/*  SIDEBAR                        */
/* ================================*/
.sidebar {
  overflow: hidden;
  position: absolute;
  z-index: 50;
  top: 0px;
  background-color: #2F2F2F;
  width: 300px;
  height: 100%;
  padding-top: 40px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}
.sidebar.left { left: 0px; }
.sidebar.right { right: 0px; }
/* ================================*/




/* ================================*/
/*  MODAL                          */
/* ================================*/
.modal {
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000000;
  opacity: 0.8;
}
.modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  position: absolute;
  z-index: 10000;
  width: 50%; /* Default */
  /*max-width: 400px;*/

  /* Center the dialog */
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);

  border: 1px solid #454545;
  /*box-shadow: 4px 4px 80px #000;*/
}
.modal-dialog .wide {
  width: 50%;
}
.modal-dialog-content {
  padding: 10px;
  background-color: #343434;
  text-align: left;
}
.modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.modal-header h1 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 100%;

  color: #FFF;
  text-align: center;
  font-weight: 400;
}
.modal-body {
  color: #efefef;
  background-color: #484848;
  border: 1px solid #181818;
  padding: 15px;
}
.modal-footer {
  background-color: #484848;
  border: 1px solid #181818;
  padding: 15px;
  margin-top: 10px;
  text-align: right;
}
.modal .button, .modal button {
  margin: 0px;
  margin-left: 5px;
}





/* ================================*/
/* NOTIFICATION                    */
/* ================================*/
.notification {
  position: absolute;
  z-index: 9999;
  bottom: 30px;
  left: 310px;
  font-weight: bold;
  text-align: center;

  width: 40%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;

  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);

  opacity: 0;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}
.notification.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.notification.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.notification.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}







/* ================================*/
/*  TABS                           */
/* ================================*/
.tabset {
  text-align: center;
}
.tabset ul.header {
  padding: 20px 0px 10px 0px;
  margin: 0px;
  list-style: none;
  font-size: 130%;
  text-transform: uppercase;
  font-weight: 200!important;
}
.tabset ul.header li {
  display: inline-block;
}
.tabset ul.header li a {
  color: inherit;
  text-decoration: none;
  padding: 0px 10px;
}
.tabset ul.header li a.active {
  color: #4BB2FD;
}
/* ================================*/




/* ================================*/
/* ITEM LIST                       */
/* ================================*/
.item-list, .item-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  text-align: left;
}
.item-list li {
  padding: 0px;
  margin: 0px;
}
.item-list a {
  padding: 2px 0px 2px 10px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}
.item-list a.selected {
  font-weight: 600;  
  /*background-color: #606060;*/
  /*pointer-events: none;*/
  /*cursor: default;*/
}
.item-list .empty {
  padding: 2px 0px 2px 10px;
  color: #ACACAC;
  display: block;
}
.item-list a:hover {
  background-color: #222;
}
.item-list a.header {
  text-transform: uppercase;
  font-weight: 600!important;
  color: #999999;
  border-bottom: 1px solid #555;
}
.item-list a.header:hover {
  background-color: inherit;
}
.item-list .edit {
  padding: 0px 5px;
  margin: 0px 1px;
  background-color: #2F2F2F;
}



/* ================================*/
/*  NODEPANEL                      */
/* ================================*/
.node-panel {
  text-align: center;
}
.preview {
  position: absolute;
  z-index: 500;
}
/* ADD NODE */
#addnode-modal .row .button {
  padding: 1px 20px;
  font-size: inherit; 
  margin: 0px;
  width: 20px;
}
#addnode-modal label .button {
  margin-right: 1px !important;
}
#addnode-modal table {
  width: 100%;
}
#addnode-modal table input, 
#addnode-modal table select  {
  width: 90%;
  padding: 0px 5px !important;
}
#addnode-modal table .button {
  width: 20px;
  /*height: 23px;*/
}
#addnode-modal table td {
  padding: 1px;
}
#addnode-modal table td:nth-child(1) {
  width: 32%;
}
#addnode-modal table td:nth-child(2) {
  width: 32%;
}
#addnode-modal table td:nth-child(3) {
  width: 32%;
}
#addnode-modal table td:nth-child(4) {
  vertical-align: middle;
  width: 20px;
  padding-left: 2px;
}
/* ================================*/







/* ================================*/
/*  PROPERTYPANEL                  */
/* ================================*/
.property-panel .row .button {
  padding: 1px 20px;
  font-size: inherit; 
  margin: 0px;
  width: 20px;
}
.property-panel label .button {
  margin-right: 1px !important;
}
.property-panel table {
  width: 100%;
}
.property-panel table input {
  width: 85%;
  padding: 0px 5px !important;
}
.property-panel table .button {
  width: 20px;
  /*height: 23px;*/
}
.property-panel table td {
  padding: 1px;
}
.property-panel table td:nth-child(1) {
  width: 40%;
}
.property-panel table td:nth-child(2) {
  width: 40%;
}
.property-panel table td:nth-child(3) {
  vertical-align: middle;
  width: 20px;
  padding-left: 2px;
}
/* ================================*/